*{
    box-sizing: border-box;
}
body{
    margin: 0;
    color: #000;
    font-size: 14px;
    font-family: 'Open Sans', sans-serif;
    line-height: 26px;
    position: relative;
}
ul, ol{
    margin: 0;
    padding: 0;
    list-style: none;
}
a{
    color: inherit;
    text-decoration: none;
}
img{
    max-width: 100%;
    display: block;
    height: auto;
}
a::selection,
h2::selection,
p::selection,
button::selection{
	color: #000;
    background: grey;
}
.cleafix::after{
    content: "";
    clear: both;
    display: table;
}
.wrapper{
    width: 1110px;
    margin: 0 auto;
}

/*HEADER START*/

.header-main{
    padding: 42px 0;
    margin-bottom: 30px;
}
.main-nav{
    text-transform: uppercase;
}
.logo{
    float: left;
    font: 300 30px/34px 'Roboto', sans-serif;
}
.logo .font-bold{
    font-weight: 900;
    color: #1abc9c;
}
.main-menu{
    float: right;
    font: 700 14px/35px 'Open Sans', sans-serif;
}
.main-menu li{
    float: left;
}
.main-menu li + li{
    margin-left: 34px;
}
.main-menu li a:hover{
    color: #1abc9c;
}
/*header end*/
/*main sart*/

/*first section start*/
.title-page{
    text-transform: uppercase;
    font: 900 48px/1 'Roboto', sans-serif;
    text-align: center;
    margin: 0;
    color: #515151;
}
.title-page::after{
    content: '';
    width: 165px;
    height: 7px;
    display: block;
    margin: 0 auto;
    margin-top: 23px;
    background-color: #1abc9c;
}
.product{
    margin: 92px 0 40px 0;
}
.product-items{
    float: left;
    width: 255px;
    background-color: #e9f0fd;
    margin-bottom: 30px;
}
.product-items:not(:nth-child(4n)){
    margin-right: 30px;
}
.product-items .title-of-item{
    font: 400 18px/42px 'Roboto', sans-serif;
    text-transform: uppercase;
    color: white;
    float: left;
    width: 255px;
    padding-left: 13px;
    background-color: #323232;
}
.product-items .prise-of-item{
    float: right;
    z-index: 10;
    width: 55px;
    background-color: #8c8c8c;
    padding-left: 13px;
}
.product-items a:hover .title-of-item{
    background-color: #1abc9c;
}
.product-items a:hover .prise-of-item{
    background-color: #7fd9c7;
}
/*secend section start*/
.latest-news{
    overflow: hidden;
}
.latest-news .new-section{
    width: 350px;
    margin: 30px 0;
    float: left;
}
.new-section + .new-section{
    margin-left: 30px;
}
.title-section-news{
    font: 600 18px/26px 'Open Sans', sans-serif;
}
.title-section-news::after{
    content: '';
    width: 136px;
    height: 3px;
    display: block;
    margin-top: 10px;
    background-color: #1abc9c;
}
.new-section .btn{
    font: 300 16px/1 'Open Sans', sans-serif;
    background-color: #1abc9c;
    color: #fff;
    padding: 18px 38px;
    float: left;
    margin-top: 20px;
    border-radius: 2px;
}
/*!*MAIN END *!*/