*{
    box-sizing: border-box;
}
body{
    margin: 0;
    color: #626262;
    font-size: 0;
    font-family: 'Playfair Display', serif;
    position: relative;
}
ul, ol{
    margin: 0;
    padding: 0;
    list-style: none;
}
a{
    color: inherit;
    text-decoration: none;
}
img{
    width: 100%;
}
.wrapper{
    width: 900px;
    margin: 0 auto;
}
/*HEADER START*/
.header-main{
    height: 190px;
    font-size: 14px;
}
.main-menu{
    text-align: center;
    padding: 75px 0 75px 0;
}
.main-menu-item{
    display: inline-block;
    text-transform: uppercase;
}
.main-menu-item + .main-menu-item{
    margin-left: 122px;
}

.main-menu-item a:hover {
    color: rgb(3, 169, 244);
}
/*HEADER END*/

/*MAIN START */
.main-content{
padding-bottom: 20px;
}
.lifestyle-list {
    margin: auto auto 38px auto;
    width: 900px;
}
.lifestyle-list li {
    display: inline-block;
    width: 420px;
    vertical-align: top;
    font-size: 14px;
}
.lifestyle-list li:nth-child(2n-1){
    margin:0 58px 60px 0;
}
.lifestyle-post .branch {
   color: #b4ad9e;
    text-transform: uppercase;
}
.lifestyle-post h2{
    font-size: 30px;
}
.load-button {
    text-align: center;
    font-size: 20px;
    line-height: 24px;
}
.load-button button {
    color: #626262;
    border: 1px solid #626262;;
    width: 164px;
    height: 60px;
    cursor: pointer;
}
/*MAIN END */